<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      The Sercret Number is <%= number %>
    </p>
  </body>
</html>
